__pycache__
venv
config.json

#exclude all pdf files but .gitkeep in below folders
sqlite/*
docs/downloaded_pdfs/*
docs/downloaded_pdfs_outliers/*
docs/parsed_pdfs/*
docs/not_readable_pdfs/*
!sqlite/.gitkeep
!downloaded_pdfs/.gitkeep
!docs/downloaded_pdfs_outliers/.gitkeep
!docs/parsed_pdfs/.gitkeep
!docs/not_readable_pdfs/.gitkeep